@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
}

li, a {
    /* font-weight: 500; */
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    height: 72px;
}

.logo {
  flex: 0 1 auto;
  width: 128px;
  height: 64px;
  align-self: center;
}

.nav {
    list-style: none;
    display: flex;
    gap: 30px;
}

/*           */

 .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #1f2937;
    padding: 128px 340px;
}

.child {
    flex: 1;
   padding: 0;
   margin: 0;
   align-self: flex-start;
}

.child.hero {
    font-size: 40px;
    color: #f9faf8;
    margin: -55px 16px 32px 16px;
    padding: 0;
    width: 32vw;
}

.child .tata, button {
    font-size: 16px;
    margin-top: -40px;
    color:rgb(218, 237, 252)
} 
 
.foto {
    width: 32vw;
}

button {
    background-color:#3882f6;
    border: none;
    border-radius: 10px;
    padding: 6px 24px;
}

/*               */

.info {
    margin: 55px auto 55px auto;
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
 }

.nr3 {
    max-width: 300px;
    max-height: 200px;
    flex:1;
    border: 2px solid rgb(92, 92, 212);
    border-radius: 15px;
    margin-left: 12px;
    margin-right: 12px;
    object-fit: cover;
}

.container2 {
    display: flex;
    align-items: flex-start;
    align-self: center;
}

.card {
    flex: 1;
    width: 16vw;
    height: 20vw;
    display:flex;
    flex-direction: column;
}

.subtext {
    padding: 10px;
    color: rgb(75, 73, 73);
    text-align: center;
}


/*           */

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    max-height: 200px;
    width: 70%;
    /* margin-left: auto;
    margin-right: auto; */
}

.container3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7eb ;
    height: 360px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.author {
    font-size: 30px;
    font-weight: 700;
    align-self: flex-end;
    padding-right: 450px;
}