@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;

}

li, a {
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    height: 92px;
}

.logo {
  flex: 0 1 auto;
  width: 128px;
  height: 64px;
  align-self: center;
}

.nav {
    list-style: none;
    display: flex;
    gap: 30px;
}

/*           */

 .container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: #1f2937;
    height: 400px;
    gap: 45px;
    
}

.child1 {
    padding-bottom: 120px;
}

.child,
.child1 {
    color: #f9faf8;
    max-width: 545px;
    max-height: 300px;
}

.h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 700;
    
}

.foto {
    max-width: 545px;
    max-height: 420px;
    object-fit: cover;
}

.tata {
    color: #cad9f5;
    font-size: 18px;
}

 
.virsuj {
    background-color:#3882f6;
    color: #E5E7eb;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 8px 28px;
    margin-top: 14px;
}

/*               */

.info {
    margin: 55px auto 55px auto;
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
 }

.nr3 {
    max-width: 300px;
    max-height: 200px;
    flex:1;
    border: 2px solid rgb(92, 92, 212);
    border-radius: 15px;
    margin-left: 12px;
    margin-right: 12px;
    object-fit: cover;
}

.container2 {
    display: flex;
    align-items: flex-start;
    align-self: center;
    min-height: 350px;
}

.card {
    flex: 1;
    width: 16vw;
    height: 20vw;
    display:flex;
    flex-direction: column;
}

.subtext {
    padding: 10px;
    color: rgb(75, 73, 73);
    text-align: center;
}


/*           */

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    max-height: 200px;
    width: 70%;
    /* margin-left: auto;
    margin-right: auto; */
}

.container3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7eb ;
    height: 360px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.author {
    font-size: 30px;
    font-weight: 700;
    align-self: flex-end;
    padding-right: 450px;
}

/*               */

.container4 {
    display:flex;
    height: 250px;
    width: 900px;
    /* background-color: #3882f6; */
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.nr4,
.nr5 {
    background-color: #3882f6;
    height: 55px; 
    padding: 60px;

}

.nr4 {
   flex: 1 1 70%;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}

.nr5 {
    flex: 1 1 30%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.apacioj {
    background-color:#3882f6;
    color: #E5E7eb;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    padding: 6px 28px;
    border: 2px solid white;
}

.monkey {
    color: #f9faf8;
    font-weight: 700;
    font-size: 22px;
}

.monke {
    color: #E5E7eb;
}


/*       */

footer {
    background-color: #1f2937;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: #E5E7eb;
}